body {
    font-family: 'Merriweather', serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.color {
    color: chocolate;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 1.5em;

}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.right-bacground {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1em;
    box-shadow: 20px 25px 50px gray;
}

#baby-developer {
    border-left: 7px solid;
    border-radius: 1em;
    border-image: linear-gradient(lightblue, tomato);
    border-image-slice: 1;
}

#full-web-developer {
    border-left: 7px solid;
    border-radius: 1em;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}